<header class="center-align valign-wrapper">
    <div class="container ">
        <div class="row">
            <div class="col s12">
                {{!-- Header should be whichever neighborhood was clicked --}}
                <h1>{{this.neighborhood}}</h1>
                
            </div>
        </div>

    </div>

</header>

<main>
    <div class="row view-buttons center-align">
        <div class="col s6 view-button-left">
            <h4>MAP</h2>
        </div>
        <div class="col s6 view-button-right">
            <h4>LIST</h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col s12">

            </div>
        </div>
        <div class="row">

            <div class="col s12">

                {{!-- List for posts that will populate from database --}}
                <ul>
                    {{#each posts}}
                    <li></li>
                    {{/each}}
                </ul>

            </div>
        </div>
    </div>
<<<<<<< HEAD



    {{!-- This button triggers more buttons for adding a post or selecting a new neighborhood --}}
    <div class="fixed-action-btn">
        <a href="#" class="btn-floating btn-large z-depth-5">
            <i class="large material-icons">more_vert</i>
        </a>
        <ul>
            {{!-- This button will trigger a modal for new posts --}}
            <li class="modal-6-trigger">
                <a href="#modal-6" class="btn-floating btn-floating-1 btn-large z-depth-5">
                    POST {{!-- Can add icon like below --}} {{!--
                    <i class="large material-icons">mood</i> --}}
                </a>
            </li>
            {{!-- This button will trigger a modal for selecting a new neighborhood --}} {{!--
            <li class="modal-7-trigger">
                <a href="#modal-7" class="btn-floating btn-floating-2 btn-large z-depth-5">
                    <i class="large material-icons">local_dining</i>
                </a>
            </li> --}}
        </ul>
    </div>

=======
>>>>>>> 0b1fc69438d68f7c0a8a4deafc79ad443dc728df
</main>

<footer class="center-align valign-wrapper">
    <div class="container ">
        <div class="row">
            <div class="col s12">
                <a href="#">GitHub</a>
            </div>
        </div>
    </div>
</footer>