<h1>NewPost</h1>
<form active="post/create" method="post">
<input id="input" type="text" name="title" placeholder="title">
<input id="input" type="text" name="body" placeholder="body">
<input id="input" type="text" name="rank" placeholder="rank">
<button class="submitButton" type="submit" name="button">SUBMIT</button>
</form>