<header class="center-align valign-wrapper">
  <div class="container ">
    <div class="row">
      <div class="col s12">
        {{!-- Header should be whichever neighborhood was clicked --}}
        <h1>New Post</h1>

      </div>
    </div>

  </div>

</header>

<main>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <form active="../api/models/post" method="post">
          <input id="title" type="text" name="title" placeholder="title">
          <input id="body" type="text" name="body" placeholder="body">
          <input id="rank" type="text" name="rank" placeholder="rank">
          <div class="input-field">
            <select>
              
              <option value="" disabled selected>Select Your Neighborhood</option>
              {{#each neighborhoods}}
              <option id="hoodID" value="{{this.id}}">{{this.name}}</option>
              {{/each}}
            </select>
          </div>
          
          <button class="btn submitButton" type="submit" name="button">Submit</button>
        </form>
      </div>
    </div>

  </div>

  {{!-- This button triggers more buttons for adding a post or selecting a new neighborhood --}}
  <div class="fixed-action-btn">
    <a href="#" class="btn-floating btn-large z-depth-5">
      <i class="large material-icons">more_vert</i>
    </a>
    <ul>
      {{!-- This button will trigger a modal for new posts --}}
      <li class="">
        <a href="/newpost" class="btn-floating btn-floating-1 btn-large z-depth-5">
          POST {{!-- Can add icon like below --}} {{!--
          <i class="large material-icons">mood</i> --}}
        </a>
      </li>
      {{!-- This button will trigger a modal for selecting a new neighborhood --}} {{!--
      <li class="modal-7-trigger">
        <a href="#modal-7" class="btn-floating btn-floating-2 btn-large z-depth-5">
          <i class="large material-icons">local_dining</i>
        </a>
      </li> --}}
    </ul>
  </div>

</main>

<footer class="center-align valign-wrapper">
  <div class="container ">
    <div class="row">
      <div class="col s12">
        <a href="#">GitHub</a>
      </div>
    </div>
  </div>
</footer>




{{!-- This script needs to be referenced in the Main Handlebars at some point when this is all worked out --}}


<script>
  $(document).ready(function() {
    $('select').material_select();
  })
  
  $(".submitButton").on("click", function (event) {
    event.preventDefault();
    console.log("button click")
    var newPost = {
      title: $("#title").val().trim(),
      body: $("#body").val().trim(),
      rank: $("#rank").val().trim(),
      hoodID: $("#hoodID").val().trim(),
    };
    console.log(newPost)

    $.post("/api/new", newPost)
      .then(function () {
        console.log("posted?")
      });
  });
</script>