<h1>NewPost</h1>
<form active="../api/models/post" method="post">
<input id="title" type="text" name="title" placeholder="title">
<input id="body" type="text" name="body" placeholder="body">
<input id="rank" type="text" name="rank" placeholder="rank">
<input id="hoodID" type="text" name="hoodID" placeholder="hoodID (1-5)">
<button class="submitButton" type="submit" name="button">SUBMIT</button>
</form>
{{!-- This script needs to be referenced in the Main Handlebars at some point when this is all worked out --}}
<script>
$(".submitButton").on("click", function(event){
  event.preventDefault();
  console.log("button click")
  var newPost = {
    title: $("#title").val().trim(),
    body: $("#body").val().trim(),
    rank: $("#rank").val().trim(),
    hoodID: $("#hoodID").val().trim(),
  };
  console.log(newPost)

  $.post("/api/new", newPost)
  .then(function(){
    console.log("posted?")
  });
});
</script>