/* GLOBAL STYLES */

body {
  background: red;
}

/* HEADER STYLES */
header {
  background: slategray url(images/header-3.jpg) top no-repeat;
  color: white;
  height: 200px;
  margin: 0;
}
.view-button-right {
  background: lightgray;
}
.view-button-left {
  background: rgb(182, 181, 181);
}


/* MAIN CONTENT STYLES */
/* Flexbox list for hoods */
ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* Sets flex items to three equal columns */
li {
  width: calc(100% / 3);
}


/* FOOTER STYLES */
footer {
  background: slategray;
  color: white;
  height: 100px;
  margin: 0;
}
footer a {
  color: white;
  text-decoration: underline;
}
/* Flexbox Sticky Footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;

}


