/* GLOBAL STYLES */
.hide {
  display: none;
}


/* HEADER STYLES */
header {

  background-image:url('../images/headder.jpg');
  font-family: 'Damion', cursive;
  color: white;
  height: 150px;
  margin-right: 70px;
  margin-left: 70px;

}
.view-button-active {
  background: lightgray;
}
.view-button-inactive {
  background: rgb(182, 181, 181);
}
.view-button-inactive:hover {
  opacity: .5;
  cursor: pointer;
}


/* MAIN CONTENT STYLES */
/* Flexbox list for hoods */
ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* Sets flex items to three equal columns */
li {
  width: calc(100% / 3);
}
#map
{
    height:500px;
    width:100%;
}

#map-list-buttons{
  margin-right: 70px;
  margin-left: 70px;

}

/* POSTS STYLES */
#postHeading{
  text-align:center;
  font-family: 'Damion', cursive;
  font-size: 50px;
  

}



/* FOOTER STYLES */
footer {

  background: rgb(90, 39, 39);
  color: white;
  height: 100px;
  margin: 0;
  margin-right: 70px;
  margin-left: 70px;
}
footer a {
  color: white;
  text-decoration: underline;
}
/* Flexbox Sticky Footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;

}


